.table-container {
  max-width: 100%;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table th {
  background-color: $blue-400;
  color: $primary-white;

  &:hover {
    cursor: pointer;
  }
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}