//Breakpoints
$mobile: 300px;
$tablet: 768px;
$desktop: 1024px;

$gray-200: #bababa;
$gray-300: #b5bdd648;
$danger: #c7382e;

// green shades
$green-400: #bfefd3;
$green-500: #30cc71;
$green-600: #2cba67;
$green-700: #229150;
$green-800: #2e8f00;

// blue shades
$blue-50: #e7eaf2;
$blue-100: #b5bdd6;
$blue-400: #405595;
$blue-500: #102b7b;
$blue-600: #0f2770;
$blue-700: #003b95;
$blue-800: #0071ff;

// Yello shades
$yellow-50: #ffbb6a;
$yellow-100: #ff8b00;

// red shads

$red-50: #dadada;
$red-100: #c94343;

// neutral shades
$neutral-0: #ffffff;
$neutral-100: #f5f5f5;
$neutral-400: #4d4d4d;
$neutral-500: #202020;
$neutral-900: #0d0d0d;
$neutral-600: #555;
$neutral-700: #777;

$primary-white: $neutral-0;
$primary-black: $neutral-900;
$primary-blue: $blue-500;
$secondary-blue: $blue-700;
$primary-gray: $neutral-400;
$davys-gray: $neutral-600;
$primary-green: $green-500;
$secondary-green: $green-800;
$primary-red: $red-100;
$secondary-white: #f8f8fa;
$secondary-black: $neutral-500;
$primary-orange: $yellow-100;
$primary-color: $primary-green;
$bg-white-primary: $primary-white;
$bg-blue-primary: $primary-blue;
$bg-gray-primary: $neutral-500;

$font-family-primary: 'Poppins', sans-serif;
$font-size-base: 16px;

$font-sizes: (
  'xxs': 10px,
  'xs': 12px,
  's': 14px,
  'sm': $font-size-base,
  'm': 18px,
  'ml': 20px,
  'l': 22px,
  'xl': 24px,
  'xxl': 26px,
);

$font-weights: (
  'thin': 100,
  'light': 400,
  'regular': 500,
  'bold': 700,
  'heavy': 900,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
}
